# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
build/bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
bun.report*
bun.isolate*

# Wails
frontend/dist/
frontend/src/wailsjs/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo
*~

.tools/
*.tsbuildinfo
